/* 무리 없으면 admin app으로 옮겨야함 */
#content {
    display: flex;
    justify-content: center;
}

.lists {
    display: flex;
    justify-content: center;

    width: 600px;
    min-height: 300px;
    padding-top: 1rem;

    box-shadow: 0 0 5px var(--color-white);
}

.lists__table {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 0 1rem;
}

.lists__table-head {
    width: 100%;
    line-height: 45px;

    font-size: var(--font-micro);
    color: var(--color-gray);
}

.lists__table-head tr {
    width: 100%;
}

.lists__table-head tr th {
    width: 100px;
}

.lists__table-head tr > th:nth-child(1), .lists__table-tr > th {
    width: 30px;
}

.lists__table-head tr > th:nth-last-child(1), .lists__table-head tr > th:nth-last-child(2), .lists__table-tr > td:nth-last-child(1), .lists__table-tr > td:nth-last-child(2) {
    width: 45px;
}

.lists__table-body {
    line-height: 40px;
    
    text-align: center;
    font-size: 12px;
}
.lists__table-tr {
    border-bottom: 1px solid var(--color-semi-white);
}

.lists__table-tr td button {
    width: 80%;
    height: 80%;

    padding: 2px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius-small);
    font-size: var(--font-nano);

}
.lists__table-tr td button:hover {
    width: 100%;
    height: 100%;
    background-color: var(--color-gold);

    transition: 0.5s;
}