.add__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--modal-regular-width);
    height: var(--modal-regular-height);
        
    border-radius: var(--size-border-radius-regular);

    background-color: var(--color-white);

}

.add__form-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.add__form-title {

    font-size: var(--font-regular);
    color : var(--color-gray);
}

.add__form-inputs {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin-top:1rem;
}

.add__form-inputData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
}

.add__form-inputData label {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 80px;
    height: 40px;

    font-size: var(--font-micro);
    font-weight: var(--weight-bold);
    line-height: 54px;
    color: var(--color-gray);
}

.add__form-inputData input {
    
    display: inline-block;
    
    width: 300px;
    height: 40px;
    
    padding-left: 2rem;
    border-radius: 10px;
    border: 1px solid #f3f6f7b0;

    font-size: var(--font-nano);
    color: var(--color-gray);
    
    background-color: #fa52521a;

}

.add__form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 14rem;
    margin-top: 2rem;
    
}

.add__form_btn {
    width: 5rem;
    height: 35px;

    margin: 0.5rem;
    
    border-radius: 10px;
    font-weight: var(--weight-bold);
    font-size: var(--font-nano);
    color: white;
    background-color: var(--color-gold);
    
}

#submit {
    color: var(--color-white);
    background-color: var(--color-gray);
    
}

#update {
    color: var(--color-white);
    background-color: var(--color-dark-pink);

    transition: 0.5s;
}

#update:hover {

    border: 2px solid var(--color-dark-pink);
    color: var(--color-dark-pink);
    background-color: var(--color-white);
}
