/* Global style */

:root {
    /* Color */
    --color-lite-white: #ffffffcc;
    --color-white: #ffff;
    --color-lite-pink: #FDDADF;
    --color-pink: #fc5c7d;
    --color-dark-pink: #ed143dbf;
    --color-lite-blue: #6a82fb3d;
    --color-blue: #6a82fb;
    --color-lite-gold: #fcc419;
    --color-gray: #555;


    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}